@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,800&display=swap");

/* $main-menu-background-color: #6ff789; */
$secondary-menu-background-color: #000000;

$main-menu-background-color: linear-gradient(45deg, rgba(67, 76, 252, 1) 0%, rgba(128, 98, 250, 1) 45%, rgba(255, 150, 240, 1) 100%);


$breakpoint-tablet: 480px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Poppins";
    font-size: 62.5%;
    scroll-behavior: smooth;
    max-width: 100vW;
    max-height: 100vh;
    /*   background-color: $main-menu-background-color; */
    /*  overflow-x: hidden; */
}

body {
    /*  overflow-x: hidden; */
    /*  max-width: 100vh; */
    max-height: 100vh;
}

.container {
    /*   width: 100vh;
    min-width: 1280px; */
    /* margin: 0 auto;
    display: flex; */

    .wrapper {
        /*   padding: 0 48px; */

        .home {
            /*   display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%; */

            p {
                font-size: 0.75rem;
                letter-spacing: 0.3rem;
                text-transform: uppercase;
                font-weight: 500;
            }

            h5 {
                /*  margin-top: 260px; */
                font-size: 2.4rem;
                font-weight: 300;
                color: #1d1d1d;
                height: 80vh;
                display: flex;
                align-items: center;
                /* text-align: center; */
                justify-content: center;
                /* padding-right: 360px; */
            }
        }
    }
}

header {
    /*  height: 100px; */

    .inner-header {
        position: relative;
        z-index: 10;
        /* height: 100px; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        /*  width: 100vh; */
        padding: 2%;

        .logo a {
            font-weight: 700;
            font-size: 1rem;
            text-decoration: none;
            color: $secondary-menu-background-color;
        }


        .pineapple {
            width: 5rem;
            transition: 0.4s ease-in-out;

            &:hover {
                transition: 0.4s ease-in-out;
                transform: rotate(30deg);
            }



        }

        .menu {
            button {
                border: none;
                background: none;
                outline: none;
                cursor: pointer;
                font-size: 1.5rem;
                font-weight: 600;
                mix-blend-mode: difference;
                text-transform: uppercase;
                /* Behövs denna???? mix-blend-mode: difference; */
            }
        }
    }

    .hamburger-menu {
        display: none;
        z-index: 9;
        top: 0;
        /*         left: 0;
        right: 0; */
        position: fixed;
        height: 100%;
        width: 100%;

        .menu-secondary-background-color {
            background: $secondary-menu-background-color;
            /*     top: 0;
            left: 0;
            right: 0;
            bottom: 0; */
            position: fixed;
            height: 100%;
            width: 100%;
            z-index: -1;
        }

        .menu-layer {
            position: relative;
            background: $main-menu-background-color;
            height: 100%;
            overflow: hidden;
            display: flex;
            justify-content: center;

            .menu-city-background {
                /* top: 0;
                left: 0;
                right: 0;
                bottom: 0; */
                position: absolute;
                height: 100%;
                width: 100%;
                opacity: 0;
                background-size: cover;
                background-repeat: no-repeat;
                animation-name: backgroundEffect;
                animation-duration: 30s;
                animation-iteration-count: infinite;
            }

            .container {
                width: 100vw;


                .wrapper {
                    /*   position: relative; */

                    .menu-links {
                        display: flex;
                        /*     justify-content: space-between;
                    align-items: center; */
                        justify-content: center;
                        position: relative;
                        margin-top: 10%;
                        width: 100%;

                        nav {
                            display: block;

                            ul {
                                margin-top: 10%;


                                li {
                                    list-style: none;
                                    font-size: 6rem;
                                    font-weight: 700;
                                    cursor: pointer;
                                    height: 10rem;
                                    /*  overflow: hidden;
                                    position: relative; */
                                    width: 60rem;

                                    a {
                                        position: absolute;
                                        color: #fff;
                                        text-decoration: none;

                                        &:hover {
                                            color: $secondary-menu-background-color;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .info {
                        color: #fff;
                        width: 300px;

                        h3 {
                            font-size: 1.2rem;
                            margin: 8px auto;
                        }

                        p {
                            margin: 0 auto;
                            font-size: 0.8rem;
                        }
                    }
                }

                .projects {
                    position: absolute;
                    /*   bottom: -200; */
                    color: #fff;
                    margin-top: 5%;
                    font-size: 1rem;
                    font-weight: 600;
                    width: 100%;
                    display: flex;
                    justify-content: space-evenly;

                    span {
                        cursor: pointer;

                        &:first-child {
                            margin-left: 4%;
                        }

                        font-weight: 400;
                        margin: 0 32px;
                        transition: 0.3s ease-in-out;

                        &:hover {
                            color: #fff;
                            background: $secondary-menu-background-color;
                            padding: 8px 24px;
                            border-radius: 4px;
                        }
                    }
                }
            }
        }
    }
}

.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;

    .selfie-img {
        width: 20rem;
    }
}


/* ----------- Small screen usage ------------ */

@media only screen and (max-width:1300px) {}

/* ----------- Small screen usage ends ------------ */
/* ----------- Mobile usage ------------ */

@media (max-width: $breakpoint-tablet) {


    .inner-header {
        padding: 10%;

    }
}

/* ----------- Mobile usage ENDS------------ */






@keyframes backgroundEffect {
    0% {
        background-position: 0% 0%;
    }

    25% {
        background-position: 40% 10%;
    }

    50% {
        background-position: 0 10%;
    }

    75% {
        background-position: 10% 40%;
    }

    100% {
        background-position: 0% 0%;
    }
}