@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,800&display=swap");

$secondary-menu-background-color: #000000;

$main-menu-background-color: linear-gradient(45deg, rgba(67, 76, 252, 1) 0%, rgba(128, 98, 250, 1) 45%, rgba(255, 150, 240, 1) 100%);


$breakpoint-phone: 480px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Poppins";
    font-size: 62.5%;
    scroll-behavior: smooth;
    max-width: 100vW;
    max-height: 100vh;
}

body {
    max-height: 100vh;
}

.container {

    .home {

        p {
            font-size: 0.85rem;
            letter-spacing: 0.04rem;
            font-weight: 500;
        }

        h5 {
            font-size: 2.4rem;
            font-weight: 300;
            color: #1d1d1d;
            height: 80vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

header {

    .inner-header {
        position: relative;
        z-index: 10;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2%;

        .logo a {
            font-weight: 700;
            font-size: 1rem;
            text-decoration: none;
            color: $secondary-menu-background-color;
        }

        .pineapple {
            width: 5rem;
            transition: 0.4s ease-in-out;

            &:hover {
                transition: 0.4s ease-in-out;
                transform: rotate(30deg);
            }
        }

        .menu {
            button {
                border: none;
                background: none;
                outline: none;
                cursor: pointer;
                font-size: 1.5rem;
                font-weight: 600;
                text-transform: uppercase;
            }
        }
    }

    .hamburger-menu {
        display: none;
        z-index: 9;
        top: 0;
        position: fixed;
        height: 100%;
        width: 100%;

        .menu-secondary-background-color {
            background: $secondary-menu-background-color;
            position: fixed;
            height: 100%;
            width: 100%;
            z-index: -1;
        }

        .menu-layer {
            position: relative;
            background: $main-menu-background-color;
            height: 100%;
            overflow: hidden;
            display: flex;
            justify-content: center;

            .menu-project-background {
                position: absolute;
                height: 100%;
                width: 100%;
                opacity: 0;
                background-size: cover;
                background-repeat: no-repeat;
                animation-name: backgroundEffect;
                animation-duration: 30s;
                animation-iteration-count: infinite;
            }

            .container {
                width: 100vw;

                .menu-links {
                    position: relative;
                    margin-top: 10%;
                    width: 100%;

                    nav {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        margin-left: 15%;

                        ul {
                            margin-top: 10%;

                            li {
                                list-style: none;
                                font-size: 6rem;
                                font-weight: 700;
                                cursor: pointer;
                                height: 10rem;
                                width: 34rem;

                                a {
                                    position: absolute;
                                    color: #fff;
                                    text-decoration: none;

                                    &:hover {
                                        color: $secondary-menu-background-color;
                                    }
                                }
                            }
                        }
                    }

                    .info {
                        color: #fff;
                        width: 300px;

                        h3 {
                            font-size: 1.2rem;
                            margin: 8px auto;
                        }

                        p {
                            margin: 0 auto;
                            font-size: 0.8rem;
                        }
                    }
                }

                .projects {
                    position: absolute;
                    color: #fff;
                    margin-top: 5%;
                    font-size: 1rem;
                    font-weight: 600;
                    width: 100%;
                    display: flex;
                    justify-content: space-evenly;

                    span {
                        cursor: pointer;
                        font-weight: 400;
                        transition: 0.4s ease-in-out;

                        &:first-child {
                            margin-left: 4%;
                        }

                        &:hover {
                            color: #fff;
                            background: $secondary-menu-background-color;
                            padding: 8px 24px;
                            border-radius: 4px;
                        }
                    }
                }
            }
        }
    }
}

/* ABOUT ME */

.about-me {
    display: flex;
    justify-content: center;
    margin-top: 7%;
    flex-wrap: wrap;

    .selfie-img {
        width: 25rem;
    }

    .about-me-text_container {
        margin-left: 2%;
        width: 40rem;
    }

    h4 {
        font-size: 4.5rem;
        font-weight: 700;
    }

    .about-me-text_skills {
        margin-top: 3%;
    }

    .about-me-text_contact {
        margin-top: 3%;

        a {
            color: #434cfc;
            text-decoration: none;
            font-size: 0.85rem;
            letter-spacing: 0.04rem;
            font-weight: 500;
        }
    }
}

/* ABOUT ME ENDS */

/* WEATHER APP STARTS */

.app {
    background-color: rgb(199, 199, 199);
    background-size: cover;
    background-position: bottom;
    height: 87.5vh;

    .search-box {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

::placeholder {
    color: #f8f8f8;
}

.search-box .search-bar {
    display: block;
    width: 20rem;
    padding: 1.5rem;
    background: none;
    border: none;
    outline: none;
    background-color: rgba($color: #000000, $alpha: .4);
    border-radius: 3rem;
    box-shadow: 0rem 0.5rem rgba($color: #000000, $alpha: 0.2);
    color: #313131;
    font-size: 2rem;
    transition: 0.4s ease;
    margin-top: 3%;
}

.location-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 5%;

    .location {
        color: #FFF;
        font-size: 3.2rem;
        font-weight: 500;
        text-align: center;
        text-shadow: 0.3rem 0.3rem rgba($color: #202020, $alpha: 0.5);
    }

    .date {
        color: #FFF;
        font-size: 2.2rem;
        font-weight: 400;
        text-align: center;
        text-shadow: 0.3rem 0.3rem rgba($color: #202020, $alpha: 0.5);

    }
}

.weather-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    .temp {
        font-size: 10rem;
        color: #FFF;
        font-weight: 900;
        text-shadow: 0.3rem 0.3rem rgba($color: #202020, $alpha: 0.5);
    }

    .weather {
        font-size: 7rem;
        color: #FFF;
        font-weight: 600;
        text-shadow: 0.3rem 0.3rem rgba($color: #202020, $alpha: 0.5);
    }
}

/* WEATHER APP ENDS */
/* ----------- Mobile usage ------------ */

@media (max-width: $breakpoint-phone) {

    header {
        .inner-header {
            padding: 10%;
        }
    }

    .container {
        .home {
            p {}

            h5 {
                height: 70vh;
            }
        }
    }

    header {
        .hamburger-menu {
            .menu-layer {
                .container {
                    .menu-links {
                        nav {
                            ul {
                                margin-top: 33%;

                                li {
                                    width: 30rem;
                                    font-size: 4rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .about-me {
        .selfie-img {
            height: 37.5rem;
        }

        .about-me-text_container {
            margin-left: 10%;
            margin-right: 10%;
        }

        h4 {}

        .about-me-text_skills {}

        .about-me-text_contact {
            margin-bottom: 20%;

            a {}
        }
    }
}

/* ----------- Mobile usage ENDS------------ */
/* Animation for the project showcase */

@keyframes backgroundEffect {
    0% {
        background-position: 50% 50%;
    }

    25% {
        background-position: 75% 10%;
    }

    50% {
        background-position: 0% 0%;
    }

    75% {
        background-position: 10% 75%;
    }

    100% {
        background-position: 50% 50%;
    }
}

/* Animation for the project showcase ENDS */