@import url("https://fonts.googleapis.com/css?family=Poppins:100,300,400,600,800&display=swap");

$red: #e20001;
$black: #191919;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Poppins";
    font-size: 62.5%;
    scroll-behavior: smooth;
    max-width: 100%;
    /*  overflow-x: hidden; */
}

body {
    /*  overflow-x: hidden; */
}

.container {
    width: 100vh;
    /*  min-width: 100%; */
    margin: 0 auto;

    .wrapper {
        padding-left: 4.8rem;
        padding-right: 0;

        .home {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;

            p {
                font-size: 0.75rem;
                letter-spacing: 0.3rem;
                text-transform: uppercase;
                font-weight: 500;

                h5 {
                    margin-top: 26rem;
                    font-size: 1.8rem;
                    font-weight: 600;
                    padding-right: 36rem;
                }
            }
        }
    }
}

//header
header {
    height: 10rem;

    .inner-header {
        position: relative;
        z-index: 10;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo a {
            font-weight: 700;
            text-decoration: none;
            color: $black;
        }

        .menu {
            button {
                border: none;
                background: none;
                outline: none;
                cursor: pointer;
                font-size: 0.8rem;
                color: $black;
            }
        }
    }

    //hamburger menu or navigation
    .hamburger-menu {
        display: none;
        z-index: 9;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: fixed;
        height: 100%;
        width: 100%;

        .menu-secondary-background-color {
            background-color: $black;
            z-index: -1;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            position: fixed;
            height: 100%;
            width: 100%;
        }

        .menu-layer {
            position: relative;
            background-color: $red;
            height: 100%;
            overflow: hidden;

            .menu-city-background {
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                position: absolute;
                height: 100%;
                width: 100%;
                opacity: 0;
            }

            .wrapper {
                position: relative;

                .menu-links {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    position: relative;
                    top: 20rem;

                    nav {
                        display: block;

                        ul {
                            padding: 0;
                            margin: 0;

                            li {
                                list-style: none;
                                font-size: 6rem;
                                font-weight: 700;
                                cursor: pointer;
                                height: 13.5rem;
                                overflow: hidden;
                                position: relative;
                                width: 70rem;

                                a {
                                    position: absolute;
                                    color: #fff;
                                    text-decoration: none;

                                    &:hover {
                                        color: $black;
                                    }
                                }
                            }
                        }
                    }

                    .info {
                        color: #fff;
                        width: 30rem;

                        h3 {
                            font-size: 1.2rem;
                            margin: 0.8rem auto;
                        }

                        p {
                            margin: 0 auto;
                            font-size: 0.8rem;
                        }
                    }
                }

                .locations {
                    position: absolute;
                    bottom: 1rem;
                    color: #fff;
                    margin-top: 1.6rem;
                    font-size: 0.8rem;
                    font-weight: 600;

                    span {
                        &:first-child {
                            margin-left: 6.4rem;
                        }

                        cursor: pointer;
                        margin-left: 0;
                        margin-right: 3.2rem;
                        transition: 0.3s ease-in-out;

                        &:hover {
                            background-color: $black;
                            padding-left: 0.8rem;
                            padding-right: 2.4rem;
                            border-radius: 0.4rem;
                        }
                    }
                }
            }
        }
    }
}